body{
    font-family:fantasy;
    margin: 0;
}
.sect{
    padding:50px;
}
.waves-effect{
    margin-top: 30px;
}
.head{
    top:0;
    padding: 0.5px;
    font-family: Alegreya Sans SC;
    background: rgb(170, 211, 57);
}
.footer{
    background: rgb(127, 116, 224);
    margin-bottom: 0;
    bottom: 0;
    padding: 10px;
}
.info{
    font-weight: 500;
}

.nav1{
  background-color: #31d0cb;
}

.header1 {
  background-color: #c75486
}

.textcolor {
  background-color: #161515
}
.nav2 {
  color: #11e41c;
}
